:root {
    --clr-primary-peach: #e7816b;
    --clr-primary-black: #1d1c1e;
    --clr-primary-white: #ffffff;

    --clr-secondary-light-peach: #ffad98;
    --clr-secondary-dark-grey: #333136;
    --clr-secondary-light-grey: #f1f3f5;
}
