body {
    font-size: 1rem;
    line-height: 26px;
    color: var(--clr-primary-black);
    font-family: Jost, sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}
h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    font-weight: 400;
}
h3 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    line-height: 26px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 36px;
    }
}
